<div ng-controller="HeaderController">
    <header class="navbar navbar-inverse">
        <div class=container-fluid>
            <div class="navbar-header">
                <button class="navbar-toggle" ng-click="logout()">
                    <i class="glyphicon glyphicon-off"></i>
                </button>
                <a href="/" class="navbar-brand">Crossover Video Portal</a>
            </div>

            <nav class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ng-click="logout()">logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <uib-alert type="danger" ng-if="notification" close="close()">{{notification}}</uib-alert>
    </div>
</div>